* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: url(../../assets/box.png);
}

.HS{
    font-size: 25px;
}

#Hscore, #score, .Info{
    padding: 10px;
    z-index: 100;
    position:absolute;
}

.Info{
    margin-top: 35px;
}
.game{
    background-color: black;
}

#container {
    height: 650px;
    width: 1200px;
    position: relative;
    overflow: hidden;
    background-color: rgb(185, 187, 255);
    border: solid 3px;
    border-radius: 10px;
}

#container #poke {
    height: 70px;
    width: 90px;
    position: absolute;
    bottom: 28px;
    left: 20px;
}

#container #poke img {
    height: 70px;
    width: 90px;
}

.pokeActive {
    animation: animatepoke 0.5s linear infinite;
}

@keyframes animatepoke {

    0%,
    100% {
        bottom: 28px;
    }

    45%,
    55% {
        bottom: 160px;
    }
}

#container #block {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 15px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 80px;
}

.blockActive {
    animation: blockAnimate 1.5s linear infinite;
}

@keyframes blockAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}

#container #char {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 20px;
    right: -20px;
}

#container #char img {
    height: 120px;
    width: 120px;
}

.charActive {
    animation: charAnimate 15s linear infinite;
}

@keyframes charAnimate {
    0% {
        right: -125px;
    }

    100% {
        right: 100%;
    }
}


#container #road {
    height: 60px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 60px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {
        left: 0;
    }

    100% {
        left: -800px;
    }
}

#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

@keyframes cloudAnimate {
    0% {
        left: -2000px;
    }

    100% {
        left: 100%;
    }
}

#score {
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
}

@keyframes moving{
    from {  
        opacity: 0;
        transform: translateX(-50%);
    }
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}

#gameOver {
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252;
    animation: moving 500ms 250ms backwards;
}

.social{
    margin-top: 5px;
    padding: 5px;
    animation: moving 500ms 350ms backwards;
}

.social:hover {
    transform: scale(1.1);
}

.text {
    margin: 1rem 0 0 0;
    font-size: 20px;
    font-weight: 500;
    color: white;
    animation: moving 500ms 250ms backwards;
    text-shadow: black 0.1em 0.1em 0.2em
}

#back{
    border-radius: 10px;
    border: solid 3px;
    padding: 5px;
	width: 50px;
    position: absolute;
    top: 10px;
    left:10px;
}
