body {
	padding: 10px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: url("../../assets/ekansGameBack.png");
}


#game {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	display: block;
	border-radius: 5px;	
}

.game-header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;

	display: flex;
	justify-content: space-between;
}
.game-score {
	padding: 10px 15px;
	min-width: 160px;
	height: 50px;
	border-radius: 5px;

	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}
.score-count, .Hscore, .Info{
	font-size: 3vmin;
	color: purple;
	font-weight: bold;
}
.Info{
	font-size: 2vmin;
	color: purple;
	font-weight: bold;
    text-align: center;
}

.canvas-wrapper {
	border: 30px solid transparent;
    border-image: url("../../assets/border.png");
    border-image-repeat: space;
    border-image-slice: 30;
	background-image: url("../../assets/ekansBack.png");
}

@keyframes moving{
    from { 
        opacity: 0;
        transform: translateX(-50%);
    }
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}

.text {
    margin: 1rem 0 0 0;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: white;
    animation: moving 500ms 250ms backwards;
    text-shadow: black 0.1em 0.1em 0.2em
}

.social{
    margin-top: 5px;
    padding: 5px;
    animation: moving 500ms 350ms backwards;
}

.social:hover {
    transform: scale(1.1);
}

#back{
	width: 20px;
	padding: 10px;
	border: solid 2px;
	border-radius: 10%;
}