body{
    background-image: url(../../assets/caveback.png);
}

.game-score{
    margin-left: auto;
    margin-right: auto;
    color: White;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.445);
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 500px;
}
#game{
    position: relative;
    width: 600px;
    height: 500px;
    margin: 40px auto;
    overflow: hidden;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#background{
    width: 5000px;
    height: 500px;
    background-size: contain;
    background: url(../../assets/background_cave.png) repeat-x;
    position:relative;
    animation: passBack 20s linear infinite;
}

@keyframes passBack{
    0% {
        transform: translate(0px);
      }
      100% {
        transform: translate(-1000px);
      }
}

.player {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url("../../assets/gastly.gif");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .7;
    left: 5%;
    top: 150px;
}

.bullets{
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("../../assets/shadowball.gif");
    opacity: .7;
    background-size: contain;
    background-repeat: no-repeat;
}

.enemies {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url("../../assets/zubat.gif");
    background-size: contain;
    background-repeat: no-repeat;
    left: 90%;
    top: 400px;
  }